;; Users

[{:db/id #db/id[:db.part/db]
  :db/ident :user/real-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's real name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/login
  :db/index true
  :db/unique :db.unique/identity
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's email"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/avatar-url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's profile picture"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/date-created
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A user's account creation date"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/date-last-login
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A user last login date"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/date-modified
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A user's account modified date"
  :db.install/_attribute :db.part/db}

;;{:db/id #db/id[:db.part/db]
;;  :db/ident :friends
;;  :db/valueType :db.type/ref
;;  :db/cardinality :db.cardinality/many
;;  :db/isComponent true
;;  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :user/wishes
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "All wishes for one user"
 :db.install/_attribute :db.part/db}

 ;; ----- Friendship -----

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/iniciator
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Friendship iniciator"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/acceptor
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Friendship acceptor"
  :db.install/_attribute :db.part/db}

;; Wish

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A wish title"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Wish owner"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/user-created
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Wish creator"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/date-created
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A wish creation date"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/date-modified
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A wish modified date"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A wish description"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/comments
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "All comments for one wish"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Url for one wish"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/photo-url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Url for one wish's photo"
  :db.install/_attribute :db.part/db}

;; Friendships request

 {:db/id #db/id[:db.part/db]
  :db/ident :friendshipRequest/sender
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Frendship request sender"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :friendshipRequest/receiver
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Friendship request receiver"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :friendshipRequest/message
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A wish link url"
  :db.install/_attribute :db.part/db}

;; Wish comment
{:db/id #db/id[:db.part/db]
  :db/ident :wish-comment/body
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A wish comment body"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish-comment/timestamp
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A wish comment timestamp"
  :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
  :db/ident :wish-comment/wish
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
  :db/ident :wish-comment/author
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

;; Wish status

 {:db/id #db/id[:db.part/db]
  :db/ident :wish-user-status/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish-user-status/wish
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish-user-status/status
  :db/valueType :db.type/bigint
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 ;; Timeline

 {:db/id #db/id[:db.part/db]
  :db/ident :timeline/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :timestamp/timestamp
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A wish comment timestamp"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :timeline/string
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}]
