;; Users

[{:db/id #db/id[:db.part/db]
  :db/ident :user/realName
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's real name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/email
  :db/index true
  :db/unique :db.unique/identity
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's email"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/date_created
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A user's account creation date"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/date_last_login
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A user last login date"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/date_modified
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A user's account modified date"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :friends
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db.install/_attribute :db.part/db}]

;; Wish
[{:db/id #db/id[:db.part/db]
  :db/ident :wish/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A wish title"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Wish owner"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/user_created
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Wish creator"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/date_created
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A wish creation date"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/date_modified
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A wish modified date"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A wish description"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/comments
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "All comments for one wish"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wish/urls
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "All urls for one wish"
  :db.install/_attribute :db.part/db}]

;; Friendships request

[{:db/id #db/id[:db.part/db]
  :db/ident :friendshipRequest/sender
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Frendship request sender"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :friendshipRequest/receiver
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Friendship request receiver"
  :db.install/_attribute :db.part/db}]

;; Wish comment
[{:db/id #db/id[:db.part/db]
  :db/ident :wishComment/body
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A wish comment body"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wishComment/timestamp
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A wish comment timestamp"
  :db.install/_attribute :db.part/db}]

;; Wish link
[{:db/id #db/id[:db.part/db]
  :db/ident :wishLink/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A wish link url"
  :db.install/_attribute :db.part/db}]

;; Wish status

[{:db/id #db/id[:db.part/db]
  :db/ident :wishUserStatus/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wishUserStatus/wish
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :wishLink/status
  :db/valueType :db.type/bigint
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}]
