;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Протокол взаимодействия клиент-сервер ;;
;; Далее каждый top-level-элемент означает свою view

;; Мой профайл: wishlist
{:mode :readonly ;; || :my-own || :friend
 :header {:login "joe_the_hacker"
          :real-name "Joe"
          :avatar-url}
 :dashboard {:active :wishlist
             :items [{:title "iPhone6"
                      :id 102
                      :photo-url "http://img.ur/2D3Fasdf6"}]}
 :timeline [{:title "Wished the bike"
             :timestamp "5 min"}]}

;; Мой профайл: друзья
{:mode :readonly
 :header {:login "joe_the_hacker"
          :real-name "Joe"
          :avatar-url}
 :dashboard {:mode :friends
             :items [{:login "jd"
                      :real-name "John Dowe"
                      :id 33
                      :avatar-url "http://img.jpg"}]}
 :timeline [{:title "Wished the bike"
             :timestamp "5 min"}]}

;; TODO
;; - формочки?
;; - ещё чего?

;; TODO get badges to dashboard

;; TODO get wish details (with comments)
;; TODO submit wish item
;; TODO submit comment

;; TODO submit status change
