;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Протокол взаимодействия клиент-сервер ;;
;; Далее каждый top-level-элемент означает свою view

;; Мой профайл: wishlist
{:readonly? false
 :header {:login "joe_the_hacker"
          :real-name "Joe"
          :avatar-url}
 :dashboard {:mode :wishlist
             :my-own? true
             :items [{:title "iPhone6"
                      :id 102
                      :photo-url "http://img.ur/2D3Fasdf6"}]}
 :timeline [{:title "Wished the bike"
             :timestamp "5 min"}]}

;; Мой профайл: друзья
{:readonly? false
 :header {:login "joe_the_hacker"
          :real-name "Joe"
          :avatar-url}
 :dashboard {:mode :friends
             :my-own? true
             :items [{:login "jd"
                      :real-name "John Dowe"
                      :id 33
                      :avatar-url "http://img.jpg"}]}
 :timeline [{:title "Wished the bike"
             :timestamp "5 min"}]}

;; Профайл readonly
{:readonly? true
 ;; всё как в "Мой профайл: вишлист"
 }

;; Профайл друга: вишлист
{:readonly? false
 :header {;;...
          }
 :dashboard {:mode :wishlist
             :my-own? false
             ;;...
             }
 :timeline [;;...
            ]}

;; Профайл друга: друзья
{:read-only? false
 :header {;;...
          }
 :dashboard {:mode :friends
             :my-own? false
             ;;...
             }
 :timeline [;;...
            ]}

;; TODO
;; - формочки?
;; - ещё чего?

;; TODO get badges to dashboard

;; TODO get wish details (with comments)
;; TODO submit wish item
;; TODO submit comment

;; TODO submit status change
